<div class="app-rules-widget">
  <div class="header">
    <p class="header__title">{{ title }}</p>
    <span class="header__info">{{ info }}</span>
  </div>
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div
      class="container"
      formArrayName="{{ controlName }}"
      *ngFor="let role of form.get(controlName)['controls']; index as i; last as l;"
    >
      <ng-container [formGroupName]="i">
        <select class="container__inline" formControlName="pages" (change)="onPagesChange($event.target.value, role)">
          <option *ngFor="let item of pagesData" [value]="item.id">
            {{ item.name }}
          </option>
        </select>

        <select *ngIf="role.controls.pages.value === '999'" class="container__inline" formControlName="segments">
          <option *ngFor="let item of segmentsData" [value]="item.id">
            {{ item.name }}
          </option>
        </select>

        <div *ngIf="role.controls.pages.value === '999'" class="container__inline url">
          <input class="url-input" formControlName="url" type="text" placeholder="Type a full or partial URL" />
          <span class="error-msg" *ngIf="role.controls.url.hasError('urlInValid') && role.controls.url.touched">
            URL is Missing
          </span>
        </div>

        <div class="close container__inline" (click)="removeRule(i)">
          <span aria-hidden="true">&times;</span>
        </div>

        <div *ngIf="!l" class="indicator">OR</div>
      </ng-container>
    </div>
    <div class="footer">
      <button type="button" (click)="addRule(this.form.value[controlName])">+ {{ addButtonText | uppercase }}</button>
      <button type="submit">SUBMIT</button>
    </div>
  </form>
</div>
