.close {
  width: 10px;
  height: 10px;
  line-height: 10px;
  border: 1px solid gray;
  border-radius: 50%;
  padding: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.close:hover {
  border: 1px solid red;
  cursor: pointer;
}
.close:hover span {
  color: red;
  cursor: pointer;
}
.close span {
  overflow: hidden;
  font-weight: 600;
  font-size: 12px;
  color: gray;
}
